{
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [".github/workflows/**/*.yml"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": [".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
